@import url("https://fonts.googleapis.com/css?family=Antic+Didone&display=swap");
@font-face {
  font-family: 'Aesthetic-White';
  src: url("../fonts/Aesthetic-White.woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Arsenal-Regular';
  src: url("../fonts/Arsenal-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Arsenal-Bold';
  src: url("../fonts/Arsenal-Bold.ttf");
  font-weight: normal;
  font-style: normal; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  box-sizing: border-box; }

body {
  font-family: 'Arsenal-Regular', 'Roboto', sans-serif;
  color: #262626;
  font-size: 16px;
  background-color: #FFFFFF;
  margin: auto; }

a {
  color: inherit;
  text-decoration: none; }

p {
  font-size: 16px; }

@media (min-width: 1000px) {
  p {
    font-size: 18px; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.sign {
  font-family: "Aesthetic-White", Arial, Helvetica, sans-serif; }

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 480px) {
  .container {
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 1000px) {
  .container {
    padding-left: 30px;
    padding-right: 30px; } }

@media (min-width: 1180px) {
  .container {
    padding-left: 30px;
    padding-right: 30px; } }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px; }

.header--archgako {
  font-size: 22px; }

.header--sign {
  font-size: 12px;
  margin-left: 20px; }

.header--button-wrapper {
  display: flex;
  justify-content: space-between; }

.header--call-button {
  margin-right: 22px;
  margin-top: -1px; }

.site-logo--archgako {
  font-family: "Antic Didone", serif;
  display: block; }

.site-logo--sign {
  font-family: "Aesthetic-White", Arial, Helvetica, sans-serif;
  display: block; }

.site-nav ul {
  list-style: none; }

.site-tel--number {
  display: none; }

.side-menu {
  display: none;
  margin-top: 400px;
  background-color: #C4C4C4;
  z-index: 1; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger.is-active:hover {
  opacity: 0.7; }

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

/*
     * Spring
     */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; }

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important; }

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg); }

.button {
  font-size: 18px;
  padding: 12px 40px;
  background-color: #AF9888;
  color: #FFFFFF;
  transition: 0.2s;
  display: inline-block; }

.button:hover, .button:focus {
  background-color: #C3B5AA;
  transition: 0.2s; }

.button_disable {
  color: #C4C4C4; }

.section--heading {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: normal; }
  .section--heading_left {
    text-align: left; }

@media (min-width: 1000px) {
  .section--heading {
    font-size: 24px; } }

.section--index {
  margin-top: 82px; }

@media (min-width: 400px) {
  .section--heading_projects {
    margin-bottom: 100px; } }

.arrow {
  outline: none;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  border-top: 5px solid #C7C2BC;
  border-right: 5px solid #C7C2BC;
  transition: 0.2s; }
  .arrow:hover {
    border-top: 5px solid #C3B5AA;
    border-right: 5px solid #C3B5AA;
    transition: 0.2s; }

.arrow_left {
  transform: rotate(-135deg); }

.arrow_right {
  transform: rotate(45deg); }

.dot {
  height: 25px;
  width: 25px;
  background-color: #C3B5AA;
  border-radius: 50%;
  text-align: center;
  margin: 60px auto 0 auto; }

.bg {
  width: 100%;
  background-color: #C7C2BC;
  margin-top: 76px;
  padding-bottom: 70px; }

.brown-text {
  color: #AF9888; }

.gray-text {
  color: #999999;
  margin-left: 3px; }
  .gray-text:first-child {
    margin-left: 0; }

.request-form--title {
  font-size: 22px;
  margin-bottom: 0; }

.request-form--desc {
  font-size: 18px;
  margin-top: 12px; }

.form--input {
  width: 100%;
  height: 45px;
  background-color: #D6D6D6;
  border: 0;
  border-radius: 0;
  margin-top: 16px; }
  .form--input:first-child {
    margin-top: 10px; }
  .form--input::placeholder {
    color: #4E4A4A; }

.form--button {
  margin-top: 24px;
  border: 0;
  border-radius: 0; }

.form--policy-acceptance {
  margin-top: 16px;
  line-height: 1.6em; }
  .form--policy-acceptance input {
    border: 2px solid #C4C4C4;
    border-radius: 0; }
  .form--policy-acceptance a {
    border-bottom: 1.5px solid #4E4A4A; }
  .form--policy-acceptance label {
    margin-left: 6px; }

.page--heading {
  font-size: 28px;
  font-weight: normal;
  padding-bottom: 8px;
  border-bottom: 2px solid #C7C2BC;
  margin-bottom: 36px; }

.promo {
  color: #C7C2BC;
  height: calc(100vh - 70px);
  position: relative; }

.promo-logo {
  position: absolute;
  top: 40%;
  left: 48%;
  transform: translate(-50%, -40%); }

.promo-logo--archgako {
  font-size: 48px; }

.promo-logo--sign {
  font-size: 20px;
  text-align: right; }

.about--photo-wrapper {
  max-width: 260px;
  position: relative;
  margin: 0 auto; }

.about--title {
  display: inline-block;
  background-color: #C7C2BC;
  padding: 9px 28px;
  min-width: 140px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  position: absolute;
  top: 2px;
  left: 55%; }

@media (min-width: 370px) {
  .about--photo-wrapper {
    max-width: 300px; }
  .about--title {
    top: 4px;
    left: 63%; } }

@media (min-width: 480px) {
  .about--photo-wrapper {
    max-width: 344px; }
  .about--title {
    left: 200px;
    font-size: 24px;
    min-width: 175px; }
  .about--text-wrapper {
    margin-top: 10px; } }

.about--photo {
  width: 100%; }

.about--desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px; }

.about--est {
  font-family: "Aesthetic-White", Arial, Helvetica, sans-serif;
  font-size: 36px;
  margin-top: 10px;
  border-bottom: 3px solid #D6D6D6; }

.about--button {
  margin-top: 20px;
  text-align: center; }

@media (min-width: 480px) {
  .about--button {
    min-width: 200px;
    font-size: 20px; } }

.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.slider--item {
  margin: 0 26px; }

.slider--wrapper {
  width: 263px;
  overflow: hidden;
  flex-shrink: 0; }
  @media (min-width: 480px) {
    .slider--wrapper {
      margin: 0 50px; } }
  @media (min-width: 768px) {
    .slider--wrapper {
      width: 569px;
      margin: 0 40px; } }
  @media (min-width: 1000px) {
    .slider--wrapper {
      width: 850px;
      margin: 0 15px; } }
  @media (min-width: 1180px) {
    .slider--wrapper {
      width: 1043px;
      margin: 0 40px; } }

.slider--items-wrapper {
  display: flex; }

.event--image-wrapper {
  position: relative;
  min-width: 241px;
  margin: auto;
  z-index: 999; }
  .event--image-wrapper img {
    width: 100%; }
  @media (min-width: 1180px) {
    .event--image-wrapper {
      width: 311px; } }

.event--title {
  margin-top: 22px;
  text-transform: uppercase;
  margin-bottom: 0; }

.event--year {
  display: block;
  margin-top: 12px; }

.slider-project--image-wrapper {
  margin-top: -46px; }
  .slider-project--image-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 220px; }

@media (min-width: 400px) {
  .slider-project--image-wrapper {
    margin-top: -70px; }
    .slider-project--image-wrapper img {
      height: 282px; } }

@media (min-width: 480px) {
  .slider-project--image-wrapper img {
    height: calc(282px + 5vh + 10vw); } }

@media (min-width: 768px) {
  .slider-project--image-wrapper img {
    margin-left: auto;
    margin-right: auto;
    max-width: 688px;
    height: calc(282px + 5vh + 10vw); } }

.slider-project--link {
  float: right; }

.slider-project--link_text {
  font-size: 18px;
  margin-right: 12px;
  padding-bottom: 4px;
  border-bottom: 1.5px solid #000; }

.slider-project--link-arrow {
  font-size: 1.8em; }

@media (min-width: 768px) {
  .advantages {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw; } }

.advantage {
  display: flex;
  justify-content: stretch; }

.advantage--text {
  margin-left: 16px; }

@media (min-width: 480px) {
  .advantage--text {
    margin-left: 32px; } }

.advantage--heading {
  font-family: 'Arsenal-Bold';
  margin-bottom: 0; }

.advantage--desc {
  margin-top: 8px; }

.advantages--item {
  margin-top: 28px; }
  .advantages--item:first-child {
    margin-top: 36px; }

.country {
  margin-top: 80px; }

.country--map img {
  width: 100%; }

.country--desc {
  margin-top: 48px; }

.country--title {
  font-family: "Arsenal-Bold";
  text-transform: uppercase;
  margin-bottom: 24px; }

@media (min-width: 660px) {
  .country {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch; }
  .country--map {
    min-width: 340px;
    margin-right: 46px; }
    .country--map_right {
      order: 2;
      margin-right: 0;
      margin-left: 46px; }
  .country--desc {
    margin-top: 0; }
  .country--title {
    margin-top: 0; } }

@media (min-width: 1000px) {
  .country--map {
    min-width: 460px; } }

@media (min-width: 1180px) {
  .country--map {
    margin-right: 160px; }
    .country--map_right {
      margin-right: 0;
      margin-left: 160px; } }

.team h2 {
  margin-top: 80px;
  margin-bottom: 32px; }

@media (min-width: 480px) {
  .team h2 {
    margin-bottom: 48px; } }

.member--row {
  display: flex;
  flex-direction: column; }

.member--photo {
  align-self: center;
  max-width: 300px; }
  .member--photo img {
    width: 100%; }

.member--info {
  order: 1; }

.member--name {
  font-family: "Arsenal-Bold";
  text-transform: uppercase;
  text-align: center; }

.member--profession {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  color: #999999; }
  .member--profession li {
    margin: 0;
    padding: 0; }

.member--education {
  list-style: square;
  line-height: 2em;
  margin-top: 28px; }

.member--contacts {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  padding-left: 18px; }
  .member--contacts li {
    display: flex;
    margin-top: 24px; }

.member-contacts--icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-size: cover; }
  .member-contacts--icon_instagram {
    background-image: url("../../img/icons8-instagram.png"); }
  .member-contacts--icon_phone {
    background-image: url("../../img/icons8-phone.png"); }

.member-contacts--text {
  display: block;
  margin-left: 12px;
  margin-top: 6px; }

.member--desc {
  margin-top: 48px;
  margin-bottom: 80px; }

.team--sign {
  display: block;
  text-align: center;
  font-size: 48px; }

@media (min-width: 680px) {
  .member--row {
    flex-direction: row; }
  .member--contacts {
    flex-direction: column;
    padding-left: 18px; }
  .member--photo {
    align-self: flex-start; }
  .member--name {
    margin-top: 0; }
  .member--row_image-right {
    justify-content: space-between; }
  .member--row_image-right > .member--info {
    margin-right: 20px;
    margin-left: 0; }
  .member--photo_right {
    order: 2; }
  .member--name {
    margin-left: 0; } }

@media (min-width: 900px) {
  .member--info {
    margin-left: 32px; }
  .member--title-wrapper {
    display: flex;
    align-content: flex-start; }
  .member--name {
    margin-left: 18px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 32px; }
  .member--profession li {
    margin-left: 18px; }
    .member--profession li:first-child {
      margin-left: 0; }
  .member--contacts {
    justify-content: flex-start; }
    .member--contacts li {
      margin-right: 24px; } }

@media (min-width: 1024px) {
  .member--contacts {
    flex-direction: column; }
    .member--contacts li {
      margin-right: 0; } }

.project {
  margin-bottom: 82px; }

.project--baner img {
  width: 100%;
  height: 220px;
  object-fit: cover; }

.project--row {
  display: grid;
  grid-template-areas: "info" "title" "scheme"; }

.project--column:first-child {
  display: none; }

.project--name {
  font-family: "Arsenal-Bold";
  text-transform: uppercase; }

.project--city {
  display: block;
  font-size: 18px; }

.project--area {
  display: block;
  font-size: 18px;
  margin-top: 6px; }

.project--scheme {
  text-align: center; }
  .project--scheme img {
    width: 100%;
    max-width: 360px; }

.project--explication {
  font-size: 14px; }

.project--scheme-wrapper {
  margin-top: 48px; }

@media (min-width: 768px) {
  .project--row {
    grid-template-areas: "info" "scheme" "title" "scheme"; } }

.footer {
  height: 500px;
  margin-top: 60px;
  background-color: #AF9888;
  padding-top: 34px;
  color: #FFFFFF; }

.footer--logo {
  color: #FFFFFF;
  text-align: center; }

.footer--logo_archgako {
  font-size: 42px;
  margin-bottom: 0; }

.footer--logo_sign {
  font-size: 24px;
  margin-left: 48px;
  margin-top: -4px; }

.footer--tel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px; }

.footer-tel--item {
  font-size: 20px;
  margin-top: 8px;
  transition: 0.2s; }
  .footer-tel--item:first-child {
    margin-top: 0; }
  .footer-tel--item:hover, .footer-tel--item:focus {
    transition: 0.2s;
    text-decoration: underline; }

.footer--adress {
  text-align: center;
  font-size: 18px;
  margin-bottom: 0; }

.footer--br {
  display: block; }

.footer--mail {
  display: block;
  text-align: center;
  font-size: 18px;
  margin-top: 9px; }

.footer--social-media {
  margin-top: 32px;
  text-align: center; }

.footer__social-media-item:first-child {
  margin-right: 16px; }

.footer__social-media-item:nth-child(2) {
  margin-left: 16px; }

.footer--policy {
  margin-top: 12px;
  display: block;
  text-decoration: underline;
  text-align: center; }

.footer--copyright {
  display: block;
  text-align: center;
  margin-top: 6px; }
