@import url('https://fonts.googleapis.com/css?family=Antic+Didone&display=swap');

@font-face {
	font-family: 'Aesthetic-White';
	src: url('../fonts/Aesthetic-White.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arsenal-Regular';
	src: url('../fonts/Arsenal-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arsenal-Bold';
	src: url('../fonts/Arsenal-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}