@import url('https://fonts.googleapis.com/css?family=Antic+Didone&display=swap');

@font-face {
	font-family: 'Aesthetic-White';
	src: url('../fonts/Aesthetic-White.woff');
	font-weight: normal;
	font-style: normal;
}