$brown: #AF9888;
$light-brown: #C3B5AA;
$gray-brown: #C7C2BC;
$form-brown: #4E4A4A;

$black: #262626;
$gray: #C4C4C4;
$light-gray: #D6D6D6;


$white: #F2F2F2;


$cormorant-regular: "Cormorant-Regular", Arial, Helvetica, sans-serif;
$aesthetic-white: "Aesthetic-White", Arial, Helvetica, sans-serif;
$antic-didone: "Antic Didone", serif;