@import "variables";
@import "fonts";

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Arsenal-Regular', 'Roboto', sans-serif;
    color: $black;
    font-size: 16px;

    background-color: $white;
    
    margin: auto;
}


a {
    color: inherit;
    text-decoration: none;
    &:focus {
        outline-color: $black;
    }
}

button {
    &:focus {
        outline-color: $black;
    }
}

p {
    font-size: 15px;
}
@media (min-width: 1400px) {
    p {
        font-size: 17px;
    }
}



// img {
//     width: 100%;
// }

.full-width {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin-top: 32px;
    margin-bottom: 48px;
}
.full-article {
    p {
        line-height: 140%;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.sign {
    font-family: $aesthetic-white;
}

.intro-text{
    font-size: 20px;
    margin-bottom: 48px;
}

.page-text {
    &_center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    &_tight {
        max-width: 900px;
    }
    &_close-paragraph {
        margin-top: 4px;
        margin-bottom: 4px;
    }
}

@import "./containers.scss";

// Header
@import "./blocks/header.scss";
@import "./blocks/site-logo.scss";
@import "./blocks/site-nav.scss";
@import "./blocks/site-tel.scss";
@import "./blocks/side-menu.scss";
@import "./blocks/hamburger.scss";

// General
@import "./blocks/button.scss";
@import "./blocks/section.scss";
@import "./blocks/arrow.scss";
@import "./blocks/drawings.scss";
@import "./blocks/request-form.scss";
@import "./blocks/form.scss";
@import "./blocks/page.scss";
@import "./blocks/contacts.scss";


// Index
@import "./blocks/promo.scss";
@import "./blocks/about.scss";
@import "./blocks/slider.scss";
@import "./blocks/event.scss";
@import "./blocks/slider-project.scss";
@import "./blocks/advantage.scss";

// About
@import "./blocks/country.scss";
@import "./blocks/team+member.scss";

// Services
@import "./blocks/services-block.scss";
@import "./blocks/plan-grid.scss";
@import "./blocks/stages.scss";

// Projects
@import "./blocks/project.scss";

// Blog
@import "./blocks/blog-article.scss";

// Contacts
@import "./blocks/maps.scss";

// Article
@import "./blocks/share.scss";
@import "./blocks/discuss-project.scss";

// Project-Template
@import "./blocks/project-template.scss";

// 404
@import "./blocks/p404.scss";

// Policy
@import "./blocks/policy.scss";

// Footer
@import "./blocks/footer.scss";