@import "variables";
@import "fonts";

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Arsenal-Regular', 'Roboto', sans-serif;
    color: $black;
    font-size: 16px;

    background-color: $white;
    
    margin: auto;
}


a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 16px;
}
@media (min-width: 1000px) {
    p {
        font-size: 18px;
    }
}

// img {
//     width: 100%;
// }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.sign {
    font-family: $aesthetic-white;
}

@import "./containers.scss";

// Header
@import "./blocks/header.scss";
@import "./blocks/site-logo.scss";
@import "./blocks/site-nav.scss";
@import "./blocks/site-tel.scss";
@import "./blocks/side-menu.scss";
@import "./blocks/hamburger.scss";

// General
@import "./blocks/button.scss";
@import "./blocks/section.scss";
@import "./blocks/arrow.scss";
@import "./blocks/drawings.scss";
@import "./blocks/request-form.scss";
@import "./blocks/form.scss";
@import "./blocks/page.scss";

// Index
@import "./blocks/promo.scss";
@import "./blocks/about.scss";
@import "./blocks/slider.scss";
@import "./blocks/event.scss";
@import "./blocks/slider-project.scss";
@import "./blocks/advantage.scss";

// About
@import "./blocks/country.scss";
@import "./blocks/team+member.scss";

// Projects
@import "./blocks/project.scss";

// Footer
@import "./blocks/footer.scss";