@import "../variables";

.button {
    font-size: 18px;
    padding: 12px 40px;
    background-color: $brown;
    color: $white;
    transition: 0.2s;
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
}

.button:hover, .button:focus {
    background-color: $light-brown;
    transition: 0.2s;
}

.button_disable {
    color: $gray;
}

.button_open-more {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button_big-margin {
    margin-top: 32px;
    margin-bottom: 120px;
}