.dot {
    height: 25px;
    width: 25px;
    background-color: $light-brown;
    border-radius: 50%;
    text-align: center;
    margin: 60px auto 0 auto;
}

.bg {
    width: 100%;
    background-color: $gray-brown;
    margin-top: 76px;
    padding-bottom: 70px;
}

.brown-text {
    color: $brown;
}

.f-min-22 {
    font-size: 22px;
}

.f-min-18 {
    font-size: 18px;
}