@import "../variables";

.footer {
    height: 400px;
    margin-top: 60px;

    background-color: $brown;
    padding-top: 34px;
}

.footer-logo {
    color: $white;
    text-align: center;
}
.footer-logo--archgako {
    font-size: 42px;
    margin-bottom: 0;

}

.footer-logo--sign {
    font-size: 24px;
    margin-left: 48px;
    margin-top: -4px;
}

.footer-tel {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 32px;
}

.footer-tel--item {
    font-size: 20px;
    color: $white;
    margin-top: 8px;
    transition: 0.2s;
    &:first-child {
        margin-top: 0;
    }
    &:hover, &:focus {
        transition: 0.2s;
        text-decoration: underline;
    }
}