.policy {
    h2 {
        font-family: "Arsenal-Bold";
    }
    p {
        font-size: 18px;
    }
    
    ul {
        list-style: none;
        padding-left: 0;
        margin-left: 0;
        font-size: 18px;
        line-height: 1.6em;
    }

}