@import "../variables";

.promo {
    color: $gray-brown;
    height: calc(100vh - 70px);
    position: relative;
}

.promo-logo {
    position: absolute;
    top: 40%;
    left: 48%;
    transform: translate(-50%, -40%);
}
.promo-logo--archgako {
    font-size: 48px;
}

.promo-logo--sign {
    font-size: 20px;
    text-align: right;

}

@media (min-width: 400px) {
    .promo-logo {
        top: 35%;
        left: 49%;
        transform: translate(-50%, -40%);
    }
    .promo-logo--archgako {
        font-size: 64px;
    }
    
    .promo-logo--sign {
        font-size: 28px;
        text-align: right;
    
    }
}

@media (min-width: 768px) and (min-height: 600px) {
    .promo-logo {
        top: 40%;
        left: 49%;
        transform: translate(-50%, -40%);
    }
    .promo-logo--archgako {
        font-size: 96px;
    }
    .promo-logo--sign {
        font-size: 38px;
        text-align: right;
    
    }
}