.slider {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.slider--arrow {
    // background-color: red;
    &_left {
        // margin-right: 5px;
    }
    &_right {
        // margin-left: 5px;
    }
}