.slider-project--image-wrapper {
    margin-top: -46px;
    img {
        object-fit: cover;
        width: 100%;
        // height: calc(100vw - 120px);
        height: 220px;
    }
}

@media (min-width: 400px) {
    .slider-project--image-wrapper {
        margin-top: -70px;
        img {
            height: 282px;
        }
    }   
}
@media (min-width: 480px) {
    .slider-project--image-wrapper {
        img {
            height: calc(282px + 5vh + 10vw);
        }
    }   
}
@media (min-width: 768px) {
    .slider-project--image-wrapper {
        img {
            margin-left: auto;
            margin-right: auto;
            max-width: 688px;
            height: calc(282px + 5vh + 10vw);
        }
    }  
}

.slider-project--link {
    float: right;
}
.slider-project--link_text {
    text-decoration: underline;
    font-size: 18px;
    margin-right: 12px;
}

.slider-project--link-arrow {
    font-size: 1.8em;
}
